<!--
    templateType: page
    isAvailableForNewContent: true
-->
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ content.html_title }}</title>
    <meta name="description" content="{{ content.meta_description }}">
    {{ standard_header_includes }}
  </head>
  <body>
    <style>
      body{
        max-width:1400px;
        margin-left: auto;
        margin-right: auto;
      }
      .header{
         margin: 10px 20px 10px 20px;
      }
      .main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 40px;
      }
      
      .footer{
        margin: 10px 20px 10px 20px;
      }
    </style> 
    <header class="header">
      {% module "module_16602720316075" path="/my-website-theme/modules/header-navigation", label="header-navigation" %}
    </header>
    <main class="main">
      {% module "module_16602721064448" path="/my-website-theme/modules/main menu", label="main menu" %}
      {% module "module_166027212186610" path="/my-website-theme/modules/text-content", label="text-content" %}
      {% module "module_166027215169112" path="/my-website-theme/modules/calendar", label="calendar" %}
    </main>
    <footer class="footer">
      {% module "module_166027219888616" path="/my-website-theme/modules/line", label="line" %}
      {% module "module_166027218684314" path="/my-website-theme/modules/footer social links", label="footer social links" %}
      {{ standard_footer_includes }}
    </footer>
  </body>
</html>